body{
  background-color: rgb(220, 220, 220);
}

.container{
  display: inline-block;
  position: absolute;
}

#logo{
  background-image: url("../../images/logo.jpg");
  background-color: rgba(0, 220, 220, .5);
  background-repeat: no-repeat;
  background-size: cover;
  top: 33%;
  left: 1%;
  right: 75%;
  bottom: 33%;
}

#logInContainer{
  top: 33%;
  left: 25%;
  right: 1%;
  bottom: 33%;
  background-image: url("../../images/loginBackground.jpg");
  background-color: rgba(255, 0, 0, .5)
}

.logInInput{
  width: 98%;
  text-align: center;
  height: 10%;
  font-size: 100%;
  margin-top: 10px;
  margin-left: 1%;
  margin-right: 1%;
}

#logInContainer button{
  width: 50%;
  height: 25%;
  top: 40%;
  font-size: 100%;
  position: absolute;
}

#logIn{
  right: 0;
}

#signUp{
  left: 0;
}

#signOut{
  left: 33%;
}
