form {
  width: 69%;
  text-align: justify;
  column-count: 2;
  border: 1px solid black;
  padding: 0;
}

input[type=text] {
  width: 70%;
}

#datepicker {
  margin-top: 2.6rem;
  width: 70%;
  font-size: 1rem;
}

span {
  text-align: left;
}

.checkBoxGroup {
  display: inline-block;
  text-align: center;
  margin: 0;
}

label {
  display: block;
  margin-right: 2.7rem;
  font-family: monospace;
  font-size: 1.3rem;
  font-weight: bold;
}

input[type=submit],
input[type=button] {
  margin-right: 3rem;
  height: 2.5rem;
  width: 7rem;
}

input[type=button] {
  margin-right: 0;
  margin-left: 3rem;
}

#container1 {
  display: inline-block;
  width: 90%;
  margin: 1rem;
  font-size: 1.5rem;
  margin-right: 0;
  text-align: right;
  padding: 0;
  margin-left: 5rem;
}

#container2 {
  display: block;
}

input {
  margin-top: 1.4rem;
}

#day1,
#day2,
#day3 {
  margin-top: 5.5rem;
  margin-right: 3rem;
}

#week1,
#week2,
#week3,
#week4,
#week5,
#week6,
#week7 {
  margin-top: 4.5rem;
  margin-right: 3rem;
}

textarea {
  margin-top: 7rem;
  width: 70%;
  height: 7rem;
}
