span {
  text-align: left;
}


label {
  display: block;
  margin-right: 2.7rem;
  font-family: monospace;
  font-size: 1.3rem;
  font-weight: bold;
}

input[type=submit], input[type=button] {
  margin-right: 3rem;
  height: 2.5rem;
  width: 7rem;
}

input[type=button] {
  margin-right: 0;
  margin-left: 3rem;
}

#container1 {
  width: 90%;
  display: block;
  margin: 1rem;
  font-size: 1.5rem;
  margin-right: 0;
  text-align: right;
}

#container2 {
  width: 100%;
  display: block;
}

input {
  margin-top: 1.4rem;
}

#day1, #day2, #day3 {
  margin-top: 5.5rem;
  margin-right: 3rem;
}

#week1, #week2, #week3, #week4, #week5, #week6, #week7 {
  margin-top: 4.5rem;
  margin-right: 3rem;
}

textarea {
  margin-top: 7rem;
  width: 90%;
  height: 7rem;
}
